body {
	background-color: #efe9e9;
	width: 90%;
	font-size: 1.2em;
	margin: 1em;
}

#ingredients {
	columns: 3 15em;
	-moz-columns: 3 15em;
	-webkit-columns: 3 15em;
	column-gap: 2em;
	-moz-columns-gap: 2m;
	-webkit-column-gap: 2em;
	column-rule: 1px dotted #956;
	-moz-column-rule: 1px dotted #956;
	-webkit-column-rule: 1px dotted #956;
}

#instructions p{
	-webkit-transition:font-size .4s ease;
    transition: font-size .4s ease;
    transition-delay: 0s;
	webkit-transition-delay: 0s;
}
#instructions p:hover{
	font-size: 130%;
}
#instructions p br{
	display: none;
}
#instructions p:hover br{
	display: block;
}

#instructions p:hover .step{
	display: inline;
}

#instructions p .step{
	display: none;
}

#description {
	font-style: italic;
	font-size: 100%;
}
/*
#description:before {
	content: "\00AB";
}

#description:after {
	content: "\00BB";
}
*/
#qty {
	font-size: 120%;
	font-weight: bold;
}
